body {
    background-color : rgb(36,36,36,1) ;
    margin : 0px ;
    padding : 0px ;
    font-size : 13px ;
    font-family : Tanha ;
}
.container {
    width : 100% ;
    height : 601px ;
    display : flex ;
    flex-direction : row ;
    justify-content : center ;
    align-items : center ;
}
.mainloginform {
    width : 550px ;
    height : 300px ;
}